In [1]:
#importar la librería deseada
import pymysql.cursors

In [3]:
#Crear una conexión a la base de datos
connection = pymysql.connect(host='localhost',
                            user = 'root',
                            database = 'compania513',
                            cursorclass = pymysql.cursors.DictCursor)

In [12]:
#Seleccionar datos de una tabla
with connection.cursor() as cursor:
    sql = "SELECT * FROM `compania513`"
    cursor.execute(sql)
    rows = cursor.fetchall()

#Imprimir los datos
for row in rows:
    print(rows)

[{'idemployee': 1, 'empleado_nombre': 'Ximena R.', 'genero': 'F', 'Phone': 33456775, 'fechaNacimiwnto': datetime.date(1990, 8, 12)}]

In [18]:
#insertar datos en una tabla
with connection.cursor() as cursor:
    mySQL_insert_query = """INSERT INTO compania513 VALUES ('1, 'Juan','M','3312222554','1995-05-05')"""
    cursor.execute(mySQL_insert_query)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Juan','M','3312222554','1995-05-05')' at line 1")