In [1]:
#importar libreria deseada
import pymysql.cursors

In [5]:
#Crear una conexi√≥n a nuestra base de datos mysql
connection = pymysql.connect(host = "localhost",
                             user = "root",
                             password = "Hola_mundo1648",
                             database = "compania13",
                             cursorclass = pymysql.cursors.DictCursor)

In [6]:
#seleccionar datos de una tabla
with connection.cursor() as cursor:
    sql = "SELECT * FROM empleado"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row)

ProgrammingError: (1146, "Table 'compania13.empleado' doesn't exist")

In [9]:
#insertar datos
with connection.cursor() as cursor:
    cursor.execute('INSERT INTO empleado VALUES (NULL, %s, %s)',
                   ("Carlos F.", "1995-03-14"))
    connection.commit()

In [14]:
#actualizar datos
with connection.cursor() as cursor:
    cursor.execute('UPDATE empleado SET fechaNacimiento = %s WHERE idEmpleado = 10',
                   ("1998-01-01"))
    connection.commit()

In [17]:
with connection.cursor() as cursor:
    cursor.execute('UPDATE empleado SET nombre = %s, fechaNacimiento = %s WHERE idEmpleado = 11',
                   ("Fernando G.", "2003-08-23"))
    connection.commit()

In [20]:
#Recuperar el ultimo id generado
with connection.cursor() as cursor:
    sql = "SELECT LAST_INSERT_ID()"
    cursor.execute(sql)
    result = cursor.fetchone()
    print(result)
    connection.commit()

{'LAST_INSERT_ID()': 11}

In [22]:
#El resultado se guarda en un dict y podemos extraer los valores igual que con cualquier diccionario en python
result['LAST_INSERT_ID()']

11

In [ ]:
#Cerramos la conexion
connection.close()